name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  linting:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest,windows-latest,macos-latest]
        version: ['3.10','3.11']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.version }} 

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Run flake8
        run: |
          flake8 app.py
  
  testing:
      steps:

      - name: code checkout
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/checkout@v2
        with:
          python-version: 3.10

      - name: run unit test
        run: |
          python -m unittest discover
